<html>
    <head>
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" href="app.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>
    <body>
        <div id="app">
            <p>{{ 'As of' + rightNow }}</p>
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
            <div v-for="productDetail in productDetails" class="container">
                <a class="name">{{ productNames[productDetail.id] }}</a>
                <a v-on:click="toggle(productDetail.id)" class="btn">{{ selectedProductIds.includes(productDetail.id) ? 'Display' : 'Hide' }}</a>
                <p>{{ 'Number: ' + productDetail.nums }}</p>
                <p>{{ 'Sales: ' + productDetail.sales }}</p>
            </div>
            <div v-for="(userid, index) in userRanking" v-if="index <= 2 && fold === false">
                <img v-src="users.userid.photo" alt="OOPS!">
                <a>{{ users.userid.user_name }}</a>
                <a>うりあげ：&nbsp;{{ users.userid.sales }}</a>
            </div>
            <a v-on:click="toggleFold">展開&nbsp;or&nbsp;折り畳み</a>
        </div>
        <script src="app.js"></script>
    </body>
</html>
